.map-container {
    position: relative;
    height: calc(100vh - 80px); /* Verlaag de hoogte van de kaartcontainer met de hoogte van de navigatiebalk */
  }
  
  .leaflet-container {
    height: 100%;
    width: 100%;
  }

  