.checkpoint-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    height: 91vh;
    color: black;
    background-image: url('./images/kaartachtergrond.png'); /* Vervang 'pad/naar/jouw/achtergrondfoto.jpg' door het juiste pad naar jouw afbeelding */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.8); /* Als je een deel van de achtergrondafbeelding wilt zien, kun je de achtergrondkleur met een lage dekking instellen */
    }
    

    h1, h4 {
      color: 
      #257eca;
    }
    
    p {
      margin-bottom: 20px;
      font-size: 1.1rem;
      text-align: center;
    }
    
    h3 {
      margin-top: 10px;
      margin-bottom: 5px;
    }

    .inputContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
      }
    
      .inputBox {
        height: 40px;
        width: 300px;
        font-size: large;
        border-radius: 8px;
        border: 1px solid grey;
        padding-left: 8px;
      }

      label {
        margin-bottom: 2px;
      }

  
  .buttonX {
    background-color: transparent;
    color: red;
    border: none;
    cursor: pointer;
    font-weight: bold; 
    font-size: 18px;
    padding-left: 3px;
    margin-left: 3px;
  }
  

    