.map-container {
    position: relative;
    height: calc(100vh - 80px); /* Verlaag de hoogte van de kaartcontainer met de hoogte van de navigatiebalk */
  }
  
  .leaflet-container {
    height: 100%;
    width: 100%;
  }

  .button-catch-map {
    border: none;
    background: #257eca;
    color: white;
    font-size: 20px;
    padding: 5px;
    margin: 1px;
    width: 100px;
}

.popUp-catch {
  align-items: center;
  align-content: center;
}

  